<div class="m-b-4">
  <h1 ><i class="fas fa-map-marker-alt"></i>
    <%= " #{t('buttons.edit')} #{Address.model_name.human count: 1} " %>     
    <span class="badge badge-info " > <%= @address.id %></span>
  </h1>
</div>

<%= render 'form', address: @address %>
