@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #d2d6de;
  -webkit-font-smoothing: antialiased;
  font: normal 0.8em Roboto, arial, sans-serif !important;
  margin-bottom: 100px !important;
}

.footer {
  padding: 15px;
  position: fixed;
  bottom: 0;
  z-index: 5;
  left: 0;
  width: -webkit-fill-available;
  text-align: center;
}

.container {
  padding-top: 20px;
}

.footer {
  background-color: #e7e7e7;
}

.dropdown-item {
  font-size: 0.8em !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: -50px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#map {
  width: 100%;
  min-height: 300px;
  margin-bottom: 20px;
}

.navbar 
{
  background-color: #fff; 
  border-bottom: 1px solid #007bff;
}

a.nav-link
{
  color: #d2d6de;
  font-size: 1.3em;
}

a.nav-link a:hover
{
  color: #007bff;
}

li.nav-item .active {
  color: #007bff!import;
}

#navbarCollapse li a:hover 
{
}

.navbar-right li a
{
  padding: 7px;
}



@media (max-width: 768px)
{

  a.nav-link
  {
    color: #333;
  }
  #navbarCollapse li a
  {
    border-bottom: 1px solid #d2d6de;
  }
  #navbarCollapse li a:hover
  {
    background-color: #007bff;
    color: #FFF;
  }
  .navbar-toggler{
    color: #007bff;
  }
  .skm-btn
  {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
  }
  a.skm-btn:hover
  {
    text-decoration: none;
  }
}