@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

body{
    background-color: #d2d6de;
    -webkit-font-smoothing: antialiased;
    font: normal 0.8em Roboto, arial, sans-serif !important;
}
 .footer{
  padding: 20px;
}
.container{
  padding-top: 20px;
}
.nav-link {
    color: #333 !important; 
}
.navbar-right > li {
  display: inline-block;
  padding-left: 2em;
}

.nav-menu, .footer{
  background-color: #e7e7e7;
}



