@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

body{
    background-color: #d2d6de;
    -webkit-font-smoothing: antialiased;
    font: normal 0.8em Roboto, arial, sans-serif !important;
}
 .footer{
  padding: 20px;
}
.container{
  padding-top: 20px;
}
.nav-link {
    color: #333 !important; 
}
.navbar-right > li {
  display: inline-block;
  padding-left: 2em;
}

.nav-menu, .footer{
  background-color: #e7e7e7;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: -50px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

