  
<div class="container">
  <span class="text-muted">  <i class="fas fa-lg  fa-laptop-code"></i>
    Development by <%= link_to  'Geraldo Júnior', 'https://about.me/geraldo.junior', {:target => '_blank'} %> 
    for <%= link_to 'Solutis Tecnologias','http://solutis.com.br/',{:target => '_blank'} %> - <%= l Time.current %>.
  </span>
</div>