  
<div class="container">
  <span class="text-muted">  <%= link_to 'Solutis Tecnologias','http://solutis.com.br/',{:target => '_blank'} %> - Development <%= link_to  'Geraldo Júnior', 'https://about.me/geraldo.junior', {:target => '_blank'} %>.</span>
</div>